.main {
  background-color: #222831;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .wordButton {
  background-color: red;
  border: none;
  outline: none;
  box-shadow: none;
} */

h2 {
  margin: 20px 0;
}

.picture-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
